<h1>アカウント</h1>
<div class="user">
    <p>メールアドレス&emsp;<%= @user.mail %></p>
    <p>パスワード&emsp;<%= @user.password %></p>
    <%= link_to("プロフィール", "/users/#{@user.id}/profile") %>
    <%= link_to("プロフィール編集",  "/users/#{@user.id}/profile_edit")%>
</div>