    <div class="top-contents">
        <h1 class="top">
            Potepan Shareで<br>
            まだ体験したことのない<br>
            旅をしよう
        </h1>
        <button>検索</button>

    </div>
    <h2 class="top-area">おすすめのエリア</h2>
    <li class="area">
        <ul>東京<br>Tokyo</ul>
        <ul>大阪<br>Osaka</ul>
        <ul>京都<br>Kyoto</ul>
        <ul>札幌<br>Sapopro</ul>
    </li>
