<div class="room">
    <p>施設名&emsp;<%= @room.name_room %></p>
    <p>住所&emsp;<%= @room.address %></p>
    <p>価格&emsp;<%= @room.price %></p>
    <p>詳細&emsp;<%= @room.detail %></p>
</div>
<ul>
    <li><label>チェックイン：<input type="date"></label></li>
    <li><label>チェックアウト：<input type="date"></label></li>
    <li><label>人数：<input type="number"></label></li>
<ul>
    <% if @login_user %>
        <li><button type="button" onclick="location.href='/'">予約する</button></li>
    <% else %>
        <li><button type="button" onclick="location.href='/login'">ログイン</button></li>
    <% end %>
</ul>
