// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.icon {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.user-img {
    width: 80px;
    height: 80px;
    border-radius: 60px;
    box-shadow: 0 2px 6px #c1ced7;
    overflow: clip;
}

/* ヘッダー */
header {
    background-color: blue;
    color: white;
    padding: 1px;
    display: flex;
    justify-content: center;
}

.header-left {
    display: flex;
    font-size: 18px;
}

/* 本文 */
.top-contents {
    text-align: center;
    height: 700px;
    background-size: cover;
    background-image: url("/cover-top.jpeg");
}

.top {
    color: white;
    font-size: 60px;
    padding-top: 40px;
    line-height: 1;
}

.top-area {
    border-bottom: 2px solid orange;
}

.area {
    display: flex;
    text-align: center;
    justify-content: center;
}

/* フッター */
footer {
    background-color: blue;
    color: white;
    padding: 1px;
}